*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
body{
    background-color: rgb(60,99,84);
}

.heading-1{
    color:black;
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1{
    text-align: center;
}
.nav-list{
    display: flex;
    flex-direction: row;
   
}
.navbar{
    display: flex;
    flex-direction: row;
}
.navbar-list-item{
    width: max-content;
    height: max-content;
    font-size:30px;
    padding: 0px 10px 0px;
    text-align: center;
     height: 40px;
    width: auto;
}
.navbar-list-item img{
    width: 175px;
    height: 50px;
}
#item-1{
    background-color: hsla(0, 32%, 45%, 0.456);
}
#item-2{
    background-color: hsla(0, 100%, 50%, 0.456);
}
#item-3{
    background-color: hsla(75, 100%, 49%, 0.456);
}
#item-4{
    background-color: hsla(138, 100%, 25%, 0.456);
}
#item-5{
    background-color: hsla(246, 100%, 46%, 0.456);
}
#item-6{
    background-color: hsla(292, 100%, 47%, 0.456);
}
#item-7{
    background-color: hsla(0, 0%, 0%, 0.456);
}
#item-8{
    background-color: hsla(0, 0%, 100%, 0.456);
}
#item-9{
    background-color: hsla(150, 95%, 15%, 0.456);
}
#item-10{
    background-color: hsla(83, 82%, 19%, 0.456);
}
#item-11{
    background-color: hsla(32, 100%, 45%, 0.456);
}

.navbar-list-item a{
    text-decoration: none;
    color: white;

}
.navbar-list-item a:hover{
    color: hsl(60, 72%, 61%);
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

.footer .footer-text{
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}

.footer .footer-heading{
    text-align: left ;
    font-weight: bold;
}

.footer-bottom-content{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

hr{
    margin: 10px;
    font-weight: 700;
}